src/main/resources/RU.wsdl

<!--  -->
<!--  Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-promoted-b146 svn-revision#13443.  -->
<definitions
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:cfa="urn:customs.ru:ForeignApi:1.0"
    xmlns:cfaf="urn:customs.ru:ForeignApi:Formats:1.0"
    xmlns:fault="urn:customs.ru:ForeignApi:FaultTypes:1.0"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ForeignApiService" targetNamespace="urn:customs.ru:ForeignApi:1.0">
    <types>
        <xsd:schema>
            <xsd:import namespace="urn:customs.ru:ForeignApi:FaultTypes:1.0" schemaLocation="Import1-ForeignApiFaults.xsd"/>
            <xsd:import namespace="urn:customs.ru:ForeignApi:Formats:1.0" schemaLocation="Import2-ForeignApiFormats.xsd"/>
        </xsd:schema>
    </types>
    <message name="SendMessageRequestMsg">
        <part element="cfaf:SendMessageRequest" name="parameters"/>
    </message>
    <message name="SendMessageResponceMsg">
        <part element="cfaf:SendMessageResponse" name="parameters"/>
    </message>
    <message name="GetMessageRequestMsg">
        <part element="cfaf:GetMessageRequest" name="parameters"/>
    </message>
    <message name="GetMessageResponseMsg">
        <part element="cfaf:GetMessageResponse" name="parameters"/>
    </message>
    <message name="ConfirmationMessageRequestMsg">
        <part element="cfaf:ConfirmationMessageRequest" name="parameters"/>
    </message>
    <message name="ConfirmationMessageResponseMsg">
        <part element="cfaf:ConfirmationMessageResponse" name="parameters"/>
    </message>
    <message name="MessageAlreadyExistException">
        <part element="fault:MessageAlreadyExist" name="fault"/>
    </message>
    <message name="InvalidMessageException">
        <part element="fault:InvalidMessage" name="parameters"/>
    </message>
    <message name="UnknownException">
        <part element="fault:UnknownError" name="fault"/>
    </message>
    <message name="MessageNotFoundException">
        <part element="fault:MessageNotFound" name="parameters"/>
    </message>
    <message name="GetNewMessageListRequestMsg">
        <part element="cfaf:GetNewMessageListRequest" name="parameters"/>
    </message>
    <message name="GetNewMessageListResponseMsg">
        <part element="cfaf:GetNewMessageListResponse" name="parameters"/>
    </message>
    <portType name="ForeignApi">
        <operation name="SendMessage">
            <input message="cfa:SendMessageRequestMsg"/>
            <output message="cfa:SendMessageResponceMsg"/>
            <fault message="cfa:MessageAlreadyExistException" name="MessageAlreadyExistFault"/>
            <fault message="cfa:InvalidMessageException" name="InvalidMessageFault"/>
            <fault message="cfa:UnknownException" name="UnknownFault"/>
        </operation>
        <operation name="GetNewMessageList">
            <input message="cfa:GetNewMessageListRequestMsg"/>
            <output message="cfa:GetNewMessageListResponseMsg"/>
            <fault message="cfa:UnknownException" name="UnknownFault"/>
        </operation>
        <operation name="GetMessage">
            <input message="cfa:GetMessageRequestMsg"/>
            <output message="cfa:GetMessageResponseMsg"/>
            <fault message="cfa:MessageNotFoundException" name="MessageNotFoundFault"/>
            <fault message="cfa:UnknownException" name="UnknownFault"/>
        </operation>
        <operation name="ConfirmMessage">
            <input message="cfa:ConfirmationMessageRequestMsg"/>
            <output message="cfa:ConfirmationMessageResponseMsg"/>
            <fault message="cfa:MessageNotFoundException" name="MessageNotFoundFault"/>
            <fault message="cfa:UnknownException" name="UnknownFault"/>
        </operation>
    </portType>
    <binding name="ForeignApiEndpointPortBinding" type="cfa:ForeignApi">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="SendMessage">
            <soap12:operation soapAction="urn:SendMessage"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="MessageAlreadyExistFault">
                <soap12:fault name="MessageAlreadyExistFault" use="literal"/>
            </fault>
            <fault name="InvalidMessageFault">
                <soap12:fault name="InvalidMessageFault" use="literal"/>
            </fault>
            <fault name="UnknownFault">
                <soap12:fault name="UnknownFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetNewMessageList">
            <soap12:operation soapAction="urn:GetNewMessageList" soapActionRequired="true"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="UnknownFault">
                <soap12:fault name="UnknownFault" use="literal"/>
            </fault>
        </operation>
        <operation name="GetMessage">
            <soap12:operation soapAction="urn:GetMessage"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="UnknownFault">
                <soap12:fault name="UnknownFault" use="literal"/>
            </fault>
            <fault name="MessageNotFoundFault">
                <soap12:fault name="MessageNotFoundFault" use="literal"/>
            </fault>
        </operation>
        <operation name="ConfirmMessage">
            <soap12:operation soapAction="urn:ConfirmationMessage"/>
            <input>
                <soap12:body use="literal"/>
            </input>
            <output>
                <soap12:body use="literal"/>
            </output>
            <fault name="UnknownFault">
                <soap12:fault name="UnknownFault" use="literal"/>
            </fault>
            <fault name="MessageNotFoundFault">
                <soap12:fault name="MessageNotFoundFault" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ForeignApiService">
        <port binding="cfa:ForeignApiEndpointPortBinding" name="ForeignApiEndpointPort">
            <soap12:address location="http://127.0.0.1:3333/http-foreign-gateway-1.1/foreign-api/ForeignApiService.wsdl"/>
        </port>
    </service>
</definitions>